.content{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1px;
    background-color: white;
}

.header{
    margin-top: 2%;
    margin-left: 2.5%;
    
    background-color: rgb(50, 57, 80);
    color: white;
}

.about{
    background-color: rgb(50, 57, 80);
    color: white;
    
}

.rcont1{
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 3%;
}
.rcont2{
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 25%;
}

.title1{
    font-weight: bold;
}
.title{
    font-weight: bold;
    margin-top: 5%;
    color: rgb(50, 57, 80);
}
.subtitle1{
    font-weight: bold;
    margin-top: 4%;
}

.bg{
    background-color: rgb(50, 57, 80);
}

.end{
    text-align: end;
}

.box{
    border:1px solid;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-top: 2%;
    
}
.sbox{
    
    border-color: rgb(225, 237, 237);
    border-radius: 5px;
    width: fit-content;
    padding: 3px 10px;
    margin-top: 6%;
    margin-left: 8%;
    background-color:  rgb(190, 197, 197);
  
}
.ibox{
    margin-left: 2%;
}
